<div class="menu-container">
  <div class="card-header col-md-10">
    <h2>
      &#127863 Current Wines 
    </h2>
  </div>
    <div>
      <ol>
        <li>
          Castello di Neive 2016 Barbaresco; $40, 96 points.
        </li>
        <li>
          Éric & Jöel Durand 2016 Empreintes (Cornas); $39, 96 points.
        </li>
        <li>
          Selvapiana 2015 Vigneto Bucerchiale Riserva (Chianti Rufina); $36, 96 points.
        </li>
        <li>
          Joh. Jos. Prüm 2017 Graacher Himmelreich Auslese Riesling (Mosel); $32, 95 points. 
        </li>
        <li>
          Bec Hardy 2021 Semillon-Sauvignon Blanc (Adelaide); $28, 90 points.
        </li>
        <li>
          Torricino 2020 Raone Riserva (Greco di Tufo); $25, 90 points.
        </li>
        <li>
          Howard Park 2018 Miamup Cabernet Sauvignon (Margaret River); $23, 90 points.
        </li>
        <li>
          Alexakis 2020 Assytriko(Crete); $19, 90 points
        </li>
        <li>
          Heron Hill 2018 Reserve Marcri Vineyard Oaked Chardonnnay(Finger Lakes); $18, 90 points.
        </li>
        <li>
          Nicosai 2019 Rosato Sosta Tre Santi Metodo Classico Brut(Etna); $35, 91 points.
        </li>
      </ol>

  {{#each reviews as |review|}}
  <div class="review col-md-5">
    <p>
      {{review.id}}.
      {{review.title}}
    </p>
  </div>
  <div class="row-md-2">
    <p>
      Guest:
      {{review.taster_name}}
    </p>
  </div>
  {{/each}}
  
</div>

  



