<main class="container-fluid my-3">
        <h1 class="text-center">Rose to Rough</h1>
        <h5 class="text-center mt-4">Add your review</h5>

        <form>
            <div class="form-group mt-3">
                <label for="new-review-form">Enter the country the wine is from</label>
                <textarea class="form-control" id="new-review-form" rows="1"></textarea>
              </div>
             
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter your review/description of the wine here</label>
                <textarea class="form-control" id="new-review-form" rows="3"></textarea>
              </div>
              
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1"> Enter the wine's designation</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter score out of 100</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Entet price paid for wine</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Enter the province of the wine</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Your name</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Variety</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
              <div class="form-group mt-3">
                <label for="exampleFormControlTextarea1">Winery</label>
                <textarea class="form-control" name="number" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>

            <button type="submit" class="btn btn-danger mt-3">Submit</button>
          </form>
     
    </main>