<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
{{#each reviews as |review|}}                                    
    <li class="list-group-item">{{review.country}}</li>
{{/each}}
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Vestibulum at eros</li> 
  </ul>
</div>