body {
    color: #B82A23 !important;
    font-family: 'Montserrat', sans-serif !important;
  background-image: url(../images/grapes-and-wine.jpg);
}

nav {
    background-color:aliceblue;
    border-radius: 10px;
}

nav a {
    color: #B82A23 !important;
    font-family: 'Playfair Display', serif;
    font-size: 30px !important;
}

#review {
    padding: 15px;
    font-size: 30px;
    margin-left: 40vw;
    margin-top: 24vh;
}

.form-group {
    font-size: 21px !important;
    color: #380D0B;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

h5 {
    font-family: 'Playfair Display', serif;
}

#aaa {
    margin-bottom: 12vh;
}