nav {
    background-color: lightgrey;
}

nav a {
    color: #B82A23 !important;
    font-family: 'Oswald', sans-serif;
    font-size: 30px !important;
}
.bg-image {
 position: static;

}

button {
    position: relative;
    align-items: center;
}