body {
    color: #B82A23 !important;
    font-family: 'Montserrat', sans-serif !important;
}

nav {
    background-color: lightgrey;
}

nav a {
    color: #B82A23 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px !important;
}

.bg-image {
    position: static;
}